body {
  margin: 20px;
  font-family: Arial, Helvetica;
}

#input {
  margin-top: 20px;
  margin-bottom: 10px;
}

#result-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  font-size: 12px;
}

#result-table table td {
  border: 1px solid black;
  padding: 0.5em;

  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10em;
  white-space: nowrap;
}

#main-link {
  display: block;
  font-size: 24px;
  color: #0093c4;
  font-family: monospace;
  text-decoration: none;
}
